@import url('http://fonts.cdnfonts.com/css/most-faster-personal-use');
@import url('http://fonts.cdnfonts.com/css/gemsbuck-01');
*{
  padding: 0;
    margin: 0;
    letter-spacing: 1.5px;
  }

  a{
    text-decoration: none;
  }

  .main{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo{
    width: 5.5rem;
    height: 4rem;
    margin: 0 .5rem;
    padding: .2rem 1rem;
    gap: 1rem;
    border: none;
    box-shadow: none;
  }
  
  #nav-content{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    
    border-bottom: 2px solid rgb(200, 198, 198);
    margin: 0 1%;
   
    
  }
  
  
  .nav-link{
    font-family: 'Most Faster Personal Use', sans-serif;
    text-align: center;
    font-size: 1.8rem;
    margin: .5rem 1rem;
    padding: .3rem 1rem;
    gap: 1rem;
    text-decoration: none;
    color: #bf7768;
  }

  .nav-link:hover{
    border: 1px solid transparent;
    border-radius: 5px;
    background-color:#589eac;
    color: #a83f3f;
  }

  /* Banner */
  .banner{
    margin: 0 auto;
    display: flex;
    position: relative;
    width: 100%;
    height: 92vh;
    overflow: hidden;
  }
  .banner .img-banner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    transition: all ease-in-out 500ms;
    -webkit-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
  }
  
  
  .banner #img-banner-3{
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .banner #img-banner-2{
   
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .banner #img-banner-1{
   
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  /* Home Section */
  #home-section-title{
    font-family: 'Most Faster Personal Use', sans-serif;
    font-weight: 400;
    margin: 6rem;
    color: #589eac;

    font-size: 5rem;
  }

  /* Featured Ride */
  .featured-name{
    font-family: 'Gemsbuck 01', sans-serif;
    text-align: center;
    font-size: 3rem;
    color: #bf7768;
  }

  /* Rides Page */

  .rides-main{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .rides-container{
    margin: 2rem 1rem;
    padding: 1rem 1rem;
  }

  .rides-names{
    font-family: 'Gemsbuck 01', sans-serif;
    text-align: center;
    font-size: 3rem;
    color: #dcd98c;
  }

  .rides-images{
    margin: 1rem 0;
    border-radius: 4px;
  
  }

  /* Ride Page */

  #ride-title{
    font-size: 4rem;
    text-align: center;

    color: Black;
  }